# الوظيفة الأولى 
رمق عزالدين سعود
1261

In [3]:
#السؤال الأول الطلب الأول

grad_students=['ramaq','saeed','ahmad','samar','rana']
sname=input('Enter Name:')
if sname in grad_students:
    print(sname,'is graduated')
else:
    print(sname,"is'nt graduated")

Enter Name:ramaq
ramaq is graduated

In [11]:
#السؤال الأول الطلب الثاني

odd=[x for x in range(1,1001) if x%2!=0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999]

In [12]:
#السؤال الأول الطلب الثالث
L=['Network','Math','Programming','Physics','Music']
for i in L:
    if i.startswith('P'):
        print(i)

Programming
Physics

In [15]:
#السؤال الأول الطلب الرابع
d={x:x**2 for x in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [20]:
#السؤال الثاني
def func(par1):
    binary=[]
    while par1>0:
        binary.append(par1%2)
        par1//=2
    binary.reverse()
    return binary
while True:
    n=int(input('enter decimal and -1 to stop: '))    
    if n==-1:
        break
    m=func(n)
    for i in m:
        print(i,end='')
    print()

enter decimal and -1 to stop: 10
1010
enter decimal and -1 to stop: 9
1001
enter decimal and -1 to stop: 2
10
enter decimal and -1 to stop: -1

In [28]:
#السؤال الثالث
username=input('enter your name: ')
infile='t.txt'
outfile='outfile.txt'
infile1=open(infile,'r')
infile2=open(infile,'r')
outfile=open(outfile,'w')
a=0
l1=[line.rstrip().split(',')[0] for line in infile1]
l2=[line.rstrip().split(',')[-1] for line in infile2]
infile1.close()
infile1.close()
for i in range(len(l1)):
    print(l1[i])
    answer=input()
    if answer ==l2[i]:
        a+=1
l=[username+'\n',str(a)]
print(l)
outfile.writelines(l)
outfile.close()

enter your name: ramaq
55+13
68
2+50
52
5*3
15
10*10
100
55+13
68
2+50
52
5*3
15
10*10
100
55+13
68
2+50
52
5*3
15
10*10
100
55+13
4
2+50
4
5*3
4
10*10
4
55+13
4
2+50
4
5*3
4
['ramaq\n', '12']